</body>
</html>
<script>
`<% if(flash.success && flash.success.length > 0 ) { %>`
    new Noty({
        type: 'success',
        theme : "sunset",
        text : "<%= flash.success %>",
        timeout : 3500
    }).show();
`<% } %>`
</script>